body {
  //background: url('/images/background-dashboard.png') no-repeat;
  //color: #cee3f5;
  //background-size: cover;
  background-color: #f1f1f1;
  color: #727272;
  button:active, button:focus {
    outline:none;
  }

}

.whole-container {
  margin-top: 250px;

  .round-button-span {
    font-size: 30px;
    color: lightcoral;
  }

  .main-block {
    width: 1000px;
    height: 600px;
    background-color: white;
    padding: 40px 80px;
    //margin-top: -28px;
    //margin-left: -28px;
    display: table-cell;

    .header {
      border-bottom: 1px solid lightgray;
      height: 100px;

      .text-block {
        float: left;

        .text-1 {
          font-size: 32px;
          color: deeppink;
        }

        .text-2 {
          font-size: 16px;
        }
      }
      .button {
        padding-top: 20px;
      }
    }

    .content {
      padding-top: 20px;

      .search {
        margin-top: 20px;

        .search-block {
          height: 65px;

          .search-input {
            float: left;
            height: 60px;
            width: 63%;

            input {
              width: 138%;
              height: 40px;
              font-size: 16px;
              padding-left: 10px;
            }
          }

          .search-glyphicon {
            margin-left: 77%;
            cursor: pointer;

            .search-glyph {
              font-size: 20px;
              padding-top: 9px;
              color: #2c86ff;
            }
          }
        }

        .search-results {
          width: 87%;

          .result {
            min-height: 100px;
            background-color: #f1f1f1;
            margin-bottom: 10px;

            .product-image {
              padding-top: 10px;
            }
            .product-text {
              font-size: 18px;
              padding-top: 30px;
            }
            .product-add {
              padding-top: 28px;
              font-size: 36px;
              color: #2c86ff;
              cursor:pointer;
            }

            .image {
              height: 80px;
              width: 80px;
              border-radius: 50%;
            }
          }
        }
      }

      .profile {
        background-color: #f1f1f1;

        .profile-header {
          padding: 20px 0;
          font-size: 18px;
        }

        .product-list {
          margin-top: 20px;
          display: table-cell;

          .product {
            min-height: 100px;
            background-color: white;
            margin-top: 10px;
            margin-bottom: 10px;

            .product-image {
              padding-top: 5px;
            }
            .product-text {
              font-size: 18px;
              padding-top: 30px;
            }
            .product-remove {
              padding-top: 28px;
              font-size: 36px;
              color: #2c86ff;
              cursor:pointer;
            }

            .image {
              height: 80px;
              width: 80px;
              border-radius: 50%;
            }
          }
        }
      }

    }

  }
}
