* {
  min-height: 0;
  min-width: 0;
}

body {
  height: 100%;
  margin: 0;
}
.slider { margin: 0 auto; padding: 40px; width: 100%; color: #5a5a5a; background: #e9ecef; }

.swiper-slide {
  height: 400px;
  display: flex;
  justify-content: center;

  img {
    object-fit: contain;
  }
}

.header {
  display: flex;
  background-color: #343a40;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: space-around;

  >div {
    display: flex;
  }

  .navbar-left {

    img {
      border-radius: 20px;
      width: 200px;
      height: 40px;
    }
  }


  .search {
    height: 40px;

    input {
      width: 400px;
      margin-right: 5px;
    }
  }

  .navbar-right {

    .authorization {
      margin-right: 20px;
    }


    a:link, a:visited {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}




